@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #f7f8fc;
	--black: #10182f;
	--border-color: #e1e6f7;
	--font-color: #545d7a;
}

body {
	font-family: "Poppins";
	height: 100vh;
	width: 100vw;
	background-color: var(--background-color);
	color: var(--font-color);
}

main {
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	gap: 1rem;
}

.item {
	align-items: center;
	border-radius: 0.5rem;
	border: 1px solid var(--border-color);
	background-color: #fff;
	width: 50px;
	height: 50px;
}

.item.active {
	background-color: var(--black);
}
